<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Post</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
</head>
<body>
<div class="container">
    <h2>Edit Post</h2>

    <form th:action="@{'/posts/update/' + ${post.id}}" th:object="${post}" method="post">
        <textarea id="content" th:field="*{content}" rows="4" cols="50"></textarea>
        <div th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></div>
        <button type="submit">Update</button>
        <a th:href="@{/home}">Cancel</a>
    </form>
</div>
</body>
</html>
